<section class="new-training" fxLayoutAlign="center">
  <mat-card fxFlex.gt-md="400px" fxFlex.xs="300px">
    <mat-card-title fxLayoutAlign="center">
      Create New Training
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <form [formGroup]="createTrainingForm" (ngSubmit)="onSubmit();" *ngIf="!(isLoading$ | async)">
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises">
          <mat-select placeholder="Select training type" formControlName="trainingType">
            <mat-option [value]="exercise.id" *ngFor="let exercise of exercises">{{ exercise.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button *ngIf="exercises" mat-raised-button color="primary" type="submit" (click)="onSubmit();">Create</button>
      <button mat-raised-button color="primary" type="button" (click)="fetchAvailableExercises();" *ngIf="!exercises">Fetch</button>
    </mat-card-actions>
  </mat-card>
</section>
