.nav-items {
  list-style: none;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.menu-links {
  text-decoration: none;
  color: #fff;
}

.menu-links:hover,
.menu-links:active {
  color: lightgreen;
}

